@import "./hexagram-image.scss";
@import "./List.scss";
@import "./details.scss";
@import "./hexagram-card.scss";
@import "./PermanentDrawer.scss";
@import "./animation.scss";
@import "./AppBarHexCard.scss";
@import "./Modal.scss";

body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather',sans-serif;
  overflow: hidden;
}

.avatar {
  border-radius: 0% !important;
  margin-right: 5px; 
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.loader:empty,
.loader:empty:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader:empty {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 152, 0, 1);
  border-right: 1.1em solid rgba(255, 152, 0, 1);
  border-bottom: 1.1em solid rgba(255, 152, 0, 1);
  border-left: 1.1em solid #000000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



