/*
 * List
 */

.listpage-container {
    
    .avatar {
      background-color: transparent !important;
    }

    .ListSub {
      display: block;
      text-align: center;
      margin: 2px 0;
    }
}  

