/*
 * PermanentDrawer
 */

 .PermanentDrawer-appBar-3 {
   z-index: 5 !important;
}

.MuiHiddenCss-smDown-95{
    z-index: 5 !important;
}

.ui.page.modals.dimmer.transition.visible.active {z-index: 500 !important;}

 @media (max-width: 600px){
 main.PermanentDrawer-content-7, main.jss7 {
    height: calc(100vh - 32px);
    overflow-y: scroll;
 }
}
  
  